.form {
  max-width: 600px;
  width: 100%;
  margin-block: 32px;
  margin-inline: auto;
  padding: 32px;
  border-radius: 20px;

  h1 {
    text-align: center;
  }

  .inputContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    .searchInput {
      flex: 1;
    }
  }
}
