.header {
  color: hsl(var(--color-font-header));
  font-size: 1.875rem;
  line-height: 171%;
  text-transform: uppercase;
  margin-block-end: 16px;
}

.button {
  padding: 16px 32px;
  text-transform: uppercase;
  background-color: hsl(var(--color-bg-button));
  border: 1px solid hsl(var(--color-border));
  border-radius: 5px;
  outline: 0;
  transition: all 0.3s ease-in-out;

  &:hover:not([disabled]),
  &:active:not([disabled]),
  &:focus:not([disabled]) {
    cursor: pointer;
    background-color: hsl(var(--color-bg-button-hover));
    border: 1px solid hsl(var(--color-border-hover));
  }
}

.box {
  width: 100%;
  max-width: 600px;
  margin-block-start: 32px;
  margin-inline: auto;
  padding: 32px;
  background-color: hsl(var(--color-bg-box));
  border: 1px solid hsl(var(--color-border));
  border-radius: 20px;
}

.input {
  padding: 16px;
  background-color: hsl(var(--color-bg));
  border: 1px solid hsl(var(--color-border));
  border-radius: 5px;
  outline: 0;
  transition: all 0.3s ease-in-out;

  &:focus {
    border: 1px solid hsl(var(--color-border-hover));
  }
}
